<pb-player-selector set-player="setPlayer" ng-show="playerSelectorVisible" class='ng-hide slide-down' season="activeSeason"></pb-player-selector>
<div style="position: relative">
  <div class="pure-g all-player-statistic-vis-chart">
    <div class="pure-u-3-7" style="margin-top: 15px;">
      <div class="pure-g shot-heap-map">
        <div class="pure-u-1-3">
          <div class="panel-inner player-info-panel"> <!-- player panel -->
            <div class="change-player">
              <button class="pure-button" ng-class="{'pure-button-darker': playerSelectorVisible}" ng-click="showPlayerSelector()">{{ playerSelectorVisible ? 'Hide Player Selector' : 'Change Player' }}</button>
            </div>
            <div class="player-profile-pic-outer">
              <div class="player-profile-pic-inner">
                <img ng-src="img/players/{{player.PLAYER_ID}}.png" class="player-profile-pic">
                <div class="team-logo team-logo-{{getTeamAbbrev(player.TEAM_ID)}}"></div>
              </div>
            </div>
            <h1 class="player-name" alt="{{player.PLAYER_ID}}">{{player.DISPLAY_FIRST_LAST}}</h1>

            <div class="player-info">
              <div class="season-year">
                <select ng-model="activeSeason" ng-options="s as s.label for s in seasons" title="Season" ng-change="switchSeason(activeSeason.id)"></select>
              </div>
              <div><span class="jersey">#{{player.JERSEY}}</span> {{player.POSITION}}</div>
            </div>
            <div class="panel-inner">
              <pb-signature shot-data="distanceData"></pb-signature>
            </div>


            <table class="player-summary">
              <tr>
                <td class="label">PTS</td>
                <td class="stat">{{player.PTS | number:1}}</td>
                <td class="rank" title="League Rank">{{player.PTS_RANK == null ? "--" : "#"}}{{ player.PTS_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">MIN</td>
                <td class="stat">{{player.SECONDS | minutes}}</td>
                <td class="rank" title="League Rank">{{(player.SECONDS_RANK == null) ? "--" : "#"}}{{ player.SECONDS_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">GAMES</td>
                <td class="stat">{{player.GP | number}}</td>
                <td class="rank" title="League Rank">{{(player.GP_RANK == null) ? "--" : "#"}}{{ player.GP_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">FG%</td>
                <td class="stat">{{player.TOTAL_FGA ? (100*player.TOTAL_FGM / player.TOTAL_FGA) : 0 | number:1}}%</td>
                <td class="rank" title="League Rank">{{(player.FGPCT_RANK == null) ? "--" : "#"}}{{player.FGPCT_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">FGM</td>
                <td class="stat">{{player.TOTAL_FGM | number}}</td>
                <td class="rank" title="League Rank">{{(player.FGM_RANK == null) ? "--" : "#"}}{{player.FGM_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">FGA</td>
                <td class="stat">{{player.TOTAL_FGA | number}}</td>
                <td class="rank" title="League Rank">{{(player.FGA_RANK == null) ? "--" : "#"}}{{player.FGA_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">3FG%</td>
                <td class="stat">{{player.TOTAL_FG3A ? (100*player.TOTAL_FG3M / player.TOTAL_FG3A) : 0 | number:1}}%</td>
                <td class="rank" title="League Rank">{{(player.FG3PCT_RANK == null) ? "--" : "#"}}{{player.FG3PCT_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">3FGM</td>
                <td class="stat">{{player.TOTAL_FG3M | number}}</td>
                <td class="rank" title="League Rank">{{(player.FG3M_RANK == null) ? "--" : "#"}}{{player.FG3M_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">3FGA</td>
                <td class="stat">{{player.TOTAL_FG3A | number}}</td>
                <td class="rank" title="League Rank">{{(player.FG3A_RANK == null) ? "--" : "#"}}{{player.FG3A_RANK | number }}</td>
              </tr>
            </table>

          </div> <!-- end player panel -->
        </div>
        <div class="pure-u-2-3">
          <h4 class="top">Shot Heat Map</h4>

          <div class="panel-inner gray-panel shot-chart-panel"> <!-- shot chart panel -->
            <div>
              <pb-shot-chart yClamp="1200" export-filename="{{player.PLAYERCODE}}_{{player.SEASON}}" export-title="{{player.DISPLAY_FIRST_LAST}} {{activeSeason.label}}" filters="shotChartFilters" active-games="activeGames" shot-data="shots" distance-highlight="distanceHighlight" bin-highlight="binHighlight"></pb-shot-chart>
            </div>
            <div class = "myShotChartFilters">
              <pb-shot-chart-filters model="shotChartFilters"></pb-shot-chart-filters>
            </div>
          </div> <!-- end shot chart panel -->
        </div>
      </div>


    </div> <!-- end 3-7 panel -->
    <div class="pure-u-2-7 "  style="margin-top: 2px;">
      <div class="panel-inner shot-frequ-with-dist">
        <h4 class="top">Shot Frequency % by Distance</h4>
        <pb-line-chart stat="frequency" player="player" shot-data="distanceData" distance-highlight="distanceHighlight"></pb-line-chart>

        <h4>Shot Frequency: Left Side vs. Right Side <span ng-if="gameFilteringActive()">(Filtered)</span></h4>
        <pb-left-right-chart stat="frequency" player="player" shot-data="leftRightDistanceData" distance-highlight="distanceHighlight"></pb-left-right-chart>
      </div>
    </div>
    <div class="pure-u-2-7"  style="margin-top: 2px;">
      <div class="panel-inner shot-fg-with-dist">
        <h4 class="top">Field Goal % by Distance</h4>
        <pb-line-chart class = "shot-fg-with-dist-line-chart" stat="efficiency" player="player" shot-data="distanceData" distance-highlight="distanceHighlight"></pb-line-chart>

        <h4>Field Goal %: Left Side vs. Right Side <span ng-if="gameFilteringActive()">(Filtered)</span></h4>
        <pb-left-right-chart class = "shot-fg-with-dist-LR-chart" stat="efficiency" player="player" shot-data="leftRightDistanceData" distance-highlight="distanceHighlight"></pb-left-right-chart>
      </div>
    </div>
  </div>
  <div class = "pure-g shot-heap-component-filter" style="margin: 10px;"> <!-- player panel -->
    <pb-game-selector game-stats="gameStats" active-games="activeGames" teams="teams"></pb-game-selector>
  </div>
  <div class="pure-g Opponent-team-FG" style="display: none;">
    <div class="pure-u-1-1">
      <div class="panel-inner">
        <div>
          <h4>Points Per Game by Opponent Team</h4>
          <pb-vs-team-chart stat="points" vs-team-stats="vsTeamStats" player="player"></pb-vs-team-chart>
        </div>
        <div>
          <h4>Field Goal % by Opponent Team</h4>
          <pb-vs-team-chart stat="efficiency" vs-team-stats="vsTeamStats" player="player"></pb-vs-team-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="pure-g ranks-area">
    <div class="pure-u-1-1">
      <div class="panel-inner">
        <!-- <h4>Ranks</h4> -->
        <pb-rank-lists near-ranks="nearRanks" player="player" season="{{activeSeason.id}}"></pb-rank-lists>
      </div>
    </div>

  </div>

</div>