<pb-player-selector set-player="setPlayer" ng-show="playerSelectorVisible" class='ng-hide slide-down' season="activeSeason"></pb-player-selector>

<div style="position: relative">
  <div class="pure-g">


    
    <div class="pure-u-3-7">
      <div class="pure-g">
        <div class="pure-u-1-3">
          <div class="panel-inner player-info-panel"> <!-- player panel -->
            <div class="change-player">
              <button class="pure-button" ng-class="{'pure-button-darker': playerSelectorVisible}" ng-click="showPlayerSelector()">{{ playerSelectorVisible ? 'Hide Player Selector' : 'Change Player' }}</button>
            </div>
            <div class="player-profile-pic-outer">
              <div class="player-profile-pic-inner">
                <img ng-src="img/players/{{player.PLAYER_ID}}.png" class="player-profile-pic">
                <div class="team-logo team-logo-{{getTeamAbbrev(player.TEAM_ID)}}"></div>
              </div>
            </div>
            <h1 class="player-name" alt="{{player.PLAYER_ID}}">{{player.DISPLAY_FIRST_LAST}}</h1>

            <div class="player-info">
              <div class="season-year">
                <select ng-model="activeSeason" ng-options="s as s.label for s in seasons" title="Season" ng-change="switchSeason(activeSeason.id)"></select>
              </div>
              <div><span class="jersey">#{{player.JERSEY}}</span> {{player.POSITION}}</div>
            </div>
            <div class="panel-inner">
              <pb-signature shot-data="distanceData"></pb-signature>
            </div>


            <table class="player-summary">
              <tr>
                <td class="label">PTS</td>
                <td class="stat">{{player.PTS | number:1}}</td>
                <td class="rank" title="League Rank">{{player.PTS_RANK == null ? "--" : "#"}}{{ player.PTS_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">MIN</td>
                <td class="stat">{{player.SECONDS | minutes}}</td>
                <td class="rank" title="League Rank">{{(player.SECONDS_RANK == null) ? "--" : "#"}}{{ player.SECONDS_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">GAMES</td>
                <td class="stat">{{player.GP | number}}</td>
                <td class="rank" title="League Rank">{{(player.GP_RANK == null) ? "--" : "#"}}{{ player.GP_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">FG%</td>
                <td class="stat">{{player.TOTAL_FGA ? (100*player.TOTAL_FGM / player.TOTAL_FGA) : 0 | number:1}}%</td>
                <td class="rank" title="League Rank">{{(player.FGPCT_RANK == null) ? "--" : "#"}}{{player.FGPCT_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">FGM</td>
                <td class="stat">{{player.TOTAL_FGM | number}}</td>
                <td class="rank" title="League Rank">{{(player.FGM_RANK == null) ? "--" : "#"}}{{player.FGM_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">FGA</td>
                <td class="stat">{{player.TOTAL_FGA | number}}</td>
                <td class="rank" title="League Rank">{{(player.FGA_RANK == null) ? "--" : "#"}}{{player.FGA_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">3FG%</td>
                <td class="stat">{{player.TOTAL_FG3A ? (100*player.TOTAL_FG3M / player.TOTAL_FG3A) : 0 | number:1}}%</td>
                <td class="rank" title="League Rank">{{(player.FG3PCT_RANK == null) ? "--" : "#"}}{{player.FG3PCT_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">3FGM</td>
                <td class="stat">{{player.TOTAL_FG3M | number}}</td>
                <td class="rank" title="League Rank">{{(player.FG3M_RANK == null) ? "--" : "#"}}{{player.FG3M_RANK | number }}</td>
              </tr>
              <tr>
                <td class="label">3FGA</td>
                <td class="stat">{{player.TOTAL_FG3A | number}}</td>
                <td class="rank" title="League Rank">{{(player.FG3A_RANK == null) ? "--" : "#"}}{{player.FG3A_RANK | number }}</td>
              </tr>
            </table>

          </div> <!-- end player panel -->
        </div>
        
      </div>

      <!-- <div> 
        <pb-game-selector game-stats="gameStats" active-games="activeGames" teams="teams"></pb-game-selector>
      </div> -->
    </div> <!-- end 3-7 panel -->
    
    <div class="pure-u-2-7">
      <!-- <div class="pure-u-2-3"> -->
        <div class="panel-inner gray-panel shot-chart-panel"> <!-- shot chart panel -->
          <div>
            <pb-shot-chart yClamp="300" export-filename="{{player.PLAYERCODE}}_{{player.SEASON}}" export-title="{{player.DISPLAY_FIRST_LAST}} {{activeSeason.label}}" filters="shotChartFilters" active-games="activeGames" shot-data="shots" distance-highlight="distanceHighlight" bin-highlight="binHighlight"></pb-shot-chart>
          </div>
          <div>
            <pb-shot-chart-filters model="shotChartFilters"></pb-shot-chart-filters>
          </div>
        </div> <!-- end shot chart panel -->
      <!-- </div> -->

      <div class="panel-inner">
        <div class="InnerNav_innerNav__xDySU shadow">
          <div class="InnerNav_innerNavChild__3vq1R">
              <ul class="InnerNavTabs_list__2HJRu" role="tablist">
                  <li class="InnerNavTabLink_tab__1T2d8 flex flex-col justify-center items-center text-sm whitespace-no-wrap mr-3 " role="tab" aria-selected="false"><p class="InnerNavTabLink_link__3lva8" id="box-score1" href="">Shot Frequency by Distance</p></li>
                  <li class="InnerNavTabLink_tab__1T2d8 flex flex-col justify-center items-center text-sm whitespace-no-wrap mr-3" role="tab" aria-selected="false"><p class="InnerNavTabLink_link__3lva8" id="box-score2" href="">Shot Frequency</p></li>
                  
                  <li class="InnerNavTabLink_tab__1T2d8 flex flex-col justify-center items-center text-sm whitespace-no-wrap mr-3" role="tab" aria-selected="false"><p class="InnerNavTabLink_link__3lva8" id="box-score3" href="">Field Goal by Distance</p></li>
                            
                  <li class="InnerNavTabLink_tab__1T2d8 flex flex-col justify-center items-center text-sm whitespace-no-wrap mr-3" role="tab" aria-selected="false"><p class="InnerNavTabLink_link__3lva8 " id="box-score4" href="">Field Goal</p></li>
              </ul>
          </div>
      </div>

      <div class="panel-inner">
        <div class="" id="chart1">
          <h4 >Field Goal % by Distance</h4>
          <pb-line-chart stat="efficiency" player="player" shot-data="distanceData" distance-highlight="distanceHighlight"></pb-line-chart>
        </div>
        <div class="hidden" id="chart2">
          <h4>Field Goal %: Left Side vs. Right Side </h4>
          <pb-left-right-chart stat="efficiency" player="player" shot-data="leftRightDistanceData" distance-highlight="distanceHighlight"></pb-left-right-chart>
        </div>
        <div class="hidden" id="chart3">
          <h4>Shot Frequency % by Distance</h4>
          <pb-line-chart stat="frequency" player="player" shot-data="distanceData" distance-highlight="distanceHighlight"></pb-line-chart>
        </div>
        <div class="hidden" id="chart4">
          <h4>Shot Frequency: Left Side vs. Right Side </h4>
          <pb-left-right-chart stat="frequency" player="player" shot-data="leftRightDistanceData" distance-highlight="distanceHighlight"></pb-left-right-chart>
        </div>
      </div>
    </div>


    <!-- <div class="pure-u-2-7">
      <div class="panel-inner">
        <div class="" id="chart1">
          <h4 class="top">Field Goal % by Distance</h4>
          <pb-line-chart stat="efficiency" player="player" shot-data="distanceData" distance-highlight="distanceHighlight"></pb-line-chart>
        </div>
        <div class="hidden" id="chart2">
          <h4>Field Goal %: Left Side vs. Right Side <span ng-if="gameFilteringActive()">(Filtered)</span></h4>
          <pb-left-right-chart stat="efficiency" player="player" shot-data="leftRightDistanceData" distance-highlight="distanceHighlight"></pb-left-right-chart>
        </div>
      </div>
    </div> -->


  </div>
  
  <!-- <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="panel-inner">
        <div>
          <h4>Points Per Game by Opponent Team</h4>
          <pb-vs-team-chart stat="points" vs-team-stats="vsTeamStats" player="player"></pb-vs-team-chart>
        </div>
        <div>
          <h4>Field Goal % by Opponent Team</h4>
          <pb-vs-team-chart stat="efficiency" vs-team-stats="vsTeamStats" player="player"></pb-vs-team-chart>
        </div>
      </div>
    </div>
  </div> -->

  
  <div class="pure-g ranks-area">
    <div class="pure-u-1-1">
      <div class="panel-inner">
        <!-- <h4>Ranks</h4> -->
        <pb-rank-lists near-ranks="nearRanks" player="player" season="{{activeSeason.id}}"></pb-rank-lists>
      </div>
      
    </div>

  </div>

</div>
<script>
  var fn = function(){
      $(document).find('br').remove();
    }
     
  setInterval(fn,1000);

  var select=1;
  document.querySelector("#box-score1").classList.add("InnerNavTabLink_active__iT1ro");
  document.querySelector("#chart1").classList.remove("hidden");
  
  



  document.querySelector("body > div.wrapper > div > div > div > div > div > div.pure-u-2-7 > div.panel-inner > div.InnerNav_innerNav__xDySU.shadow > div > ul > li:nth-child(1)").onclick=function(){
    
    for(var i=1;i<=4;++i)
    {
      var id="#box-score"+i.toString();
      document.querySelector(id).classList.remove("InnerNavTabLink_active__iT1ro");
    }
    var child=$(this)[0].childNodes[0];
    child.classList.add("InnerNavTabLink_active__iT1ro");

    var chart="#chart"+select.toString();
    document.querySelector(chart).classList.add("hidden");
    select=1;
    var chart="#chart"+select.toString();
    document.querySelector(chart).classList.remove("hidden");


    // console.log(select);
  }

  document.querySelector("body > div.wrapper > div > div > div > div > div > div.pure-u-2-7 > div.panel-inner > div.InnerNav_innerNav__xDySU.shadow > div > ul > li:nth-child(2)").onclick=function(){
    for(var i=1;i<=4;++i)
    {
      var id="#box-score"+i.toString();
      document.querySelector(id).classList.remove("InnerNavTabLink_active__iT1ro");
    }
    var child=$(this)[0].childNodes[0];
    child.classList.add("InnerNavTabLink_active__iT1ro");
    var chart="#chart"+select.toString();
    document.querySelector(chart).classList.add("hidden");
    select=2;
    var chart="#chart"+select.toString();
    document.querySelector(chart).classList.remove("hidden");


    // console.log($(this));
  }

  document.querySelector("body > div.wrapper > div > div > div > div > div > div.pure-u-2-7 > div.panel-inner > div.InnerNav_innerNav__xDySU.shadow > div > ul > li:nth-child(3)").onclick=function(){
    for(var i=1;i<=4;++i)
    {
      var id="#box-score"+i.toString();
      document.querySelector(id).classList.remove("InnerNavTabLink_active__iT1ro");
    }
    var child=$(this)[0].childNodes[0];
    child.classList.add("InnerNavTabLink_active__iT1ro");
    var chart="#chart"+select.toString();
    document.querySelector(chart).classList.add("hidden");
    select=3;
    var chart="#chart"+select.toString();
    document.querySelector(chart).classList.remove("hidden");
    // console.log($(this));
  }

  document.querySelector("body > div.wrapper > div > div > div > div > div > div.pure-u-2-7 > div.panel-inner > div.InnerNav_innerNav__xDySU.shadow > div > ul > li:nth-child(4)").onclick=function(){
    for(var i=1;i<=4;++i)
    {
      var id="#box-score"+i.toString();
      document.querySelector(id).classList.remove("InnerNavTabLink_active__iT1ro");
    }
    var child=$(this)[0].childNodes[0];
    child.classList.add("InnerNavTabLink_active__iT1ro");
    var chart="#chart"+select.toString();
    document.querySelector(chart).classList.add("hidden");
    select=4;
    var chart="#chart"+select.toString();
    document.querySelector(chart).classList.remove("hidden");
    // console.log($(this));
  }

</script>
